.create-link{
    color: #0c36c2;
    font-size: 1.5em;
}

.create-link:hover{
    text-decoration: none;
    font-weight: bold;
    color: #8fa7f7;
}

.card:hover{
    cursor: pointer;
}

.img-card{
    height: 250px;
}

.btn-edit{
    width: 100%;
    color: #4f76f7;
    font-size: 1.25em;
    width: 100%;
    padding: 0.25em 1em;
    border: 2px solid #8fa7f7;
    border-radius: 3px;
    background-color: #ffffff;
}

.btn-edit:hover{
    color: #8fa7f7;
    background-color: transparent;
}