.container-fluid,
.menu{
    background-color: #141517;
}

header.header {
    height: 100vh;
    background-color: #141517;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header > .header__title {
    color: #e3f1ff;
    z-index: 5;
}

.header > .header__title > h1 {
    font-size: 4rem;
}

.header__title  a{
    color: #3687d9;
    font-weight: italic;
    text-decoration: none;
}

.header__title a:hover{
    color: #606061;
}
